@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 100%;
}

/*16px*/

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
}

small {
    font-size: 18px;
    color: rgba(52, 44, 47, 0.75);
}

ul {
    list-style: inherit;
}

ol {
    list-style: decimal;
}

ul,
ol {
    margin: 2rem;

}

p,
label,
ul,
ol {
    margin-bottom: 1rem;
    font-size: 18px;
    color: rgba(52, 44, 47, 0.75);
    font-weight: 500;
}


label .asteriskField {
    display: none;
}

hr {
    margin: 20px 0;
}

a {
    font-weight: 500;
}

li {
    margin: 1rem 0;
}

label .asteriskField {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 1rem 0 1.38rem;
    line-height: 1.3;
    color: #2e475d;
    font-family: 'Unbounded', cursive;
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: 0.833rem;
    font-weight: 500;
    color: #858585;
}


/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    z-index: 100;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg) translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Hamburger menu ends */


a.underline-hover-effect {
    text-decoration: none;
}

.underline-hover-effect {
    display: inline-block;
    /* defines the space between text and underline */
    position: relative;
}

.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #2e475d;
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before {
    width: 100%;
}