@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600;700&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 100%;
}

/*16px*/

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    /* font-family: 'Alkatra', cursive; */
    /* font-family: 'Merriweather', serif; */
    font-family: 'Raleway', sans-serif;
}

.bg-radial {
    /* background-image: linear-gradient(83.2deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%); */
    /* background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% ); */
    /* background-image: linear-gradient( 180.4deg,  rgba(188,120,236,1) -2.2%, rgba(29,133,163,1) 83.5% ); */
    background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
}

small {
    font-size: 18px;
    color: rgba(52, 44, 47, 0.75);
}

ul {
    list-style: inherit;
}

ol {
    list-style: decimal;
}

ul,
ol {
    margin: 2rem;

}

p,
label,
ul,
ol {
    margin-bottom: 1rem;
    font-size: 18px;
    color: rgba(52, 44, 47, 0.75);
    font-weight: 500;
}


label .asteriskField {
    display: none;
}

hr {
    margin: 20px 0;
}

a {
    font-weight: 500;
}

li {
    margin: 1rem 0;
}

label .asteriskField {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 1rem 0 1.38rem;
    line-height: 1.3;
    color: #2e475d;
    /* font-family: 'Alkatra', cursive; */
    /* font-family: 'Unbounded', cursive; */
    /* font-family: 'Merriweather', serif; */
}

h1 {
    margin-top: 0;
    font-size: 2.488rem;
}

h2 {
    font-size: 2.074rem;
}

h3 {
    font-size: 1.728rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.2rem;
}

small,
.text_small {
    font-size: 0.833rem;
    font-weight: 500;
    color: #858585;
}


/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    z-index: 100;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg) translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* Hamburger menu ends */


a.underline-hover-effect {
    text-decoration: none;
}

.underline-hover-effect {
    display: inline-block;
    /* defines the space between text and underline */
    position: relative;
}

.underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before {
    width: 100%;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 10px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.gradient-text {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}